.contactsButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #023affcc;
  width: 40rem;
  height: 5rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
}
